---
import { Astro } from 'astro';
Astro.response.status = 404;
---
<!doctype html><html lang="en"><head><meta charset="utf-8" /><title>Disabled</title><meta name="robots" content="noindex,nofollow" /></head><body style="font-family:system-ui;padding:40px;text-align:center;">Debug page disabled.<br/><a href="/">MindVerse</a></body></html>
